*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(../images/bg.png) no-repeat center;
  line-height: 1.15;
}
header{
  position: relative;
  height: 2.5rem;
  background: url(../images/untitled.png) no-repeat center;
  background-size: 100% 100%;
}
header>h1{
  font-size: 1.15rem;
  color: #fff;
  text-align: center;
  line-height: 1.85rem 
}
header>.showTime{
  position: absolute;
  right: 1rem;
  font-size: .25rem;
  color: #fff;
  top: 0;
  line-height: 1.5rem
}
.mainbox {
  min-width: 1024px;
  max-width: 1920px;
  padding: 0.125rem 0.125rem 0;
  display: flex;
}
.mainbox .column {
  flex: 3;
}
.mainbox .column:nth-child(2) {
  flex: 5;
  margin: 0 0.125rem 0.1875rem;
  overflow: hidden;
}
.panel {
  position: relative;
  height: 10rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.04) url(../images/line\(1\).png);
  padding: 0 0.1875rem 0.5rem;
  margin-bottom: 0.1875rem;
}
.panel::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.panel::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
.panel .panel-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.panel .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
.panel h2 {
  height: 0.975rem;
  line-height: .875rem;
  text-align: center;
  color: #fff;
  font-size: .625rem;
  font-weight: 400;
}
.panel .chart {
  height: 8.95rem;
}